%h3
  = @monument.name
%div #{@monument.description}
%hr
%h5 Add New Picture
= render "pictures/form"
%hr
- if @pictures.blank?
  %h4 Pictures
  %p There are no pictures for this monument. Use the form above to add new Picture.
- else
  %div.pull-right.coverflow-btn
    = link_to "Start Cover Flow", monument_coverflow_path(@monument), class: "btn btn-success"
  %h4 Pictures
  = render partial: "shared/pictures", locals: {pictures: @pictures}